{% extends 'base_with_header_menu.html' %}
{% load static %}

{% block title %}Whiteboard{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/board.css' %}">

    <script src="{% static 'js/libs/konva/konva.min.js' %}"></script>
    <script src="{% static 'js/whiteboard/board.js' %}"></script>
    <script src="{% static 'js/whiteboard/toolbar.js' %}"></script>
    <script src="{% static 'js/whiteboard/shapes.js' %}"></script>
    <script type="module" src="{% static 'js/whiteboard.js' %}"></script>

    {{ default_shapes_json|json_script:'default_shapes_json' }}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
{% endblock %}

{% block body %}
    <div id="whiteboard_container">
        <div id="project_structure_menu">STRUCTURE</div>
        <div id="canvas_container"></div>
        {% include "details_menu.html" %}
        {% include "toolbar.html" %}
    </div>
{% endblock %}